
/* Estilo de la ventana modal */
.modalLog {
    display: none; /* Oculto por defecto */
    position: fixed; /* Fijo en la pantalla */
    z-index: 1000; /* Se superpone a otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    overflow: auto; /* Habilita el desplazamiento si es necesario */
    background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro con opacidad */
    
}

/* Estilo del contenido de la modal */
.modalLog-content {
    background-color: #fefefe; /* Fondo blanco */
    margin: 15% auto; /* Centro de la pantalla */
    padding: 20px;
    border: 1px solid #888;
    width: 300px; /* Ancho de la ventana */
    border-radius: 5px; /* Bordes redondeados */
}
